
<div class="product">
    <!-- search bar  -->
    <search (searchTextChanged)="setSearchText($event)"></search>
    <!-- Product List -->
     <product-list [searchText]="searchText" #productListComponent></product-list>
     <product-details *ngIf="productListComponent.selectedProduct"></product-details>
    <!-- <p>Mobile: <span>iPhone 15 pro</span> </p>
    <p>Price: <span>$12500</span> </p>
    <p>color: <span>Dark grey</span> </p>
<input (input)="onNameChange($event)">
<p>Name: {{name}}</p> -->

</div>

<!-- 31 video 13 min -->